.inbox-row {
    background: white;
    border: solid 1px #ddd;
    margin-top: -1px;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    transition: -webkit-transform 70ms ease-in-out;
    transition: transform 70ms ease-in-out;
    line-height: 34px;
}

.inbox-row:active {
    outline: none;
}

.inbox-col-1, .inbox-col-2, .inbox-col-3, .inbox-col-4, .inbox-col-5, .inbox-col-6 {
    padding: 10px 6px 0px 6px;
}

.inbox-col-1 {
    width: 20px;
}

.inbox-col-2 {
    width: 34px;
}

.inbox-col-3 {
    -webkit-flex: 1;
    flex: 1;
    min-width: 180px;
    max-width: 188px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inbox-col-4 {
    width: 50px;
    line-height: 29px;
    padding-left: 0;
}

.inbox-col-5 {
    -webkit-flex: 4;
    flex: 4;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inbox-col-6 {
    width: 60px;
}

.secondary {
    color: #aaa;
    padding-left: 4px;
}