<div class="row inbox-row">
    <div class="col-md-2 inbox-col-1"><input type="checkbox" name="id" value=""></div>
    <div class="col-md-2 inbox-col-2">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-2 inbox-col-3">
        <a href="">Close.io (Sample&nbsp;Lead)</a>
        <span class="contact_name"> Steli Efti</span>
    </div>
    <div class="col-md-2 inbox-col-4">
        <button class="email btn btn-small" target="_blank" rel="tooltip" title="" data-original-title="Email Steli Efti">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
    </div>
    <div class="col-md-2 inbox-col-5">
        <span>Welcome to Close.io!</span>
        <span class="secondary">Hi! My name is Steli and I'm a co-founder of Close.io. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out with any qu</span>
    </div>
    <div class="col-md-2 inbox-col-6">
        <time rel="tooltip" datetime="2016-05-09T19:28:38.168000+00:00" title="" data-original-title="Monday, May 9 2016 4:28 PM ART">May 9</time>
    </div>
</div>