<h1>Inbox <span class="count">3</span></h1>

<div class="inbox-actions clearfix">
    <div class="row">
        <div class="col-md-2 pull-left">
        <input type="checkbox" class="check-all" tabindex="-1">
        <button disabled="" class="btn btn-small action action-archive-selected" tabindex="-1">
        <span class="glyphicons glyphicons-ok prepends-text" aria-hidden="true"></span>Done</button>
        <span class="selected-count-str "><span class="selected-count">8</span> selected</span>
        </div>

        <div class="col-md-2 col-lg-push-8">
        <div class="btn-group">
            <button type="button" class="multiselect dropdown-toggle btn btn-small" data-toggle="dropdown" title="Oldest First">
                <strong>Sort by:</strong> Oldest First <b class="caret"></b>
            </button>
            <ul class="multiselect-container dropdown-menu pull-right">
                <li><a href="javascript:void(0);"><label class="radio"><input type="radio" value="date"> Oldest First</label></a></li>
                <li><a href="javascript:void(0);"><label class="radio"><input type="radio" value="-date"> Newest First</label></a></li>
            </ul>
        </div>
    </div>
    </div>


    <!-- List -->
    <div class="inbox-list" style="padding-top:50px;">

        <inbox-item></inbox-item>
        <inbox-item></inbox-item>
        <inbox-item></inbox-item>
        <inbox-item></inbox-item>

    </div>
    <!-- End List -->
</div>