 
 <sidebar-inbox></sidebar-inbox>

 <ul class="nav nav-sidebar">
    <li><a href=""><i class="fa fa-trophy pr-3" aria-hidden="true"></i> Opportunities</a></li>
    <li><a href=""><i class="fa fa-wpforms pr-3" aria-hidden="true"></i> Leads</a></li>
    <li><a href=""><i class="fa fa-bar-chart pr-3" aria-hidden="true"></i> Reporting</a></li>
 </ul>

 <ul class="nav nav-sidebar">
    <li><a href="">SMART VIEWS</a></li>
    <li><a href="" class="pl-25">Recently Created</a></li>
    <li><a href="" class="pl-25">Never Contacted</a></li>
    <li><a href="" class="pl-25">Opened Email</a></li>
    <li><a href="" class="pl-25">Status: Potential</a></li>
    <li><a href="" class="pl-25">Status: Bad Fit</a></li>
    <li><a href="" class="pl-25">Status: Qualified</a></li>
    <li><a href="" class="pl-25">Status: Customer</a></li>
    <li><a href="" class="pl-25">Need help? <i class="fa fa-clone" aria-hidden="true"></i></a></li>
 </ul>
