<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">John Doe <span class="caret"></span> <img src="http://lorempixel.com/40/40/people/"></a>
  <ul class="dropdown-menu">
    <li><a href="#"><strong>johndoe</strong></a></li>
    <li><a href="#">johndoe@email.com</a></li>
    <li><a href="#">555-565-895</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['Settings']"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
    <li><a [routerLink]="['Import']"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Bulk Import</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Spread the Word</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
  </ul>